*{
    margin: 0%;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    
    background-color: maroon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather_container{
    color: white;
}

.temp{
    font-size: 4.5rem;
}

.time_location{
    font-size: 2rem;
}

.condition{
    margin: 0.5rem;
    margin-left: 0.2rem;
}

.search_area{
    padding:1rem 0;
    margin-left: 50px;
    outline: none;
    border: none;
    color: turquoise;
    background-color: transparent;
    font-size: 1.1rem;
    border-bottom: 2px solid white;
    width: 98%;
}

nav form button{
    padding: 0.5rem;
    background-color: aliceblue;
    margin-top: 1rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 50px;
}